<head>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap');
  </style>
</head>

<ion-row>
  <ion-col size="2">
    <ion-thumbnail>
      <img src="https://cdn2.iconfinder.com/data/icons/fitness-filled-outline-1/512/gym_weight_training_dumbbell_sports_exercise_fitness_arm-256.png">
    </ion-thumbnail>
  </ion-col>
  <ion-col size="10" class="header">
    <a href="#" class="headerLinks"><h2>Início</h2></a>
    <a href="#" class="headerLinks"><h2>Sobre</h2></a>
    <a href="#" class="headerLinks"><h2>Galeria</h2></a>
    <a href="#" class="headerLinks"><h2>Contato</h2></a>
  </ion-col>
</ion-row>